.footer{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    width: 100%;
    padding: 80px 8%;
    color: #fff;
}

.footer .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .links ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .links ul a{
    transition: .6s;
    color: #fff;
}
.footer .links ul a:hover{
    color: rgb(255 0 0);
    filter: drop-shadow(0 8px 4px var(--main-color));
    transform: translateY(-5px);
}

.footer .social {
    display:  flex;
    gap: 20px;
    margin-top: 20px;
}

.footer .social a{
    font-size: 1.2rem;
    transition: .8s;
    color: #fff;
}

.footer .social a:hover{
    filter: drop-shadow(0 8px 16px var(--main-color));
    transform: translateY(-5px) scale(1.05);
    color: red;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 50% 25% 25%;
    }
}

@media (max-width: 500px) {
    .footer .links {
        margin: 35px 0;
    }
    .footer {
        grid-template-columns: repeat(1, 1fr)
    }
}